.footer {
    padding: 1rem;
    background-color: var(--color-charcoal);
    color: var(--color-white);
}

.footer p {
    text-align: center;
    font-family: var(--font-accent);
    font-size: 1.25rem;
}