.loadingContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    font-weight: 500;
}

.shadow {
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}

.crust {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c08756;
    border-radius: 50%;
    border: 6px dotted #a86f3e;
    animation-name: spin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.pizza {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-accent);
}

@keyframes spin {
    0% {
        transform: rotate(-360deg);
    }
}

.cheese {
    position: absolute;
    background-color: var(--color-white);
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.basil {
    position: absolute;
    background-color: var(--color-primary);
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    width: 5px;
    height: 8px;
}

.cheeseOne {
    top: 20%;
    left: 15%;
}

.cheeseTwo {
    top: 20%;
    right: 15%;
}

.cheeseThree {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.basilOne {
    border-top-right-radius: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 5px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%) rotate(15deg);
}

.basilTwo {
    border-top-right-radius: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 5px;
    bottom: 20%;
    right: 20%;
    transform: rotate(-30deg);
}

.basilThree {
    border-top-right-radius: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 20px;
    bottom: 20%;
    left: 20%;
    transform: rotate(30deg);
}
