.navbar {
    position: relative;
    z-index: 100;
    text-align: center;
    background-color: var(--color-primary);
    padding: 0.75rem;
    box-shadow: 0 0 12px rgba(0,0,0,0.6);
}

.navbar button {
    display: block;
    margin: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.navLink {
    display: block;
    color: var(--color-white);
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navLink:hover,
.navLink:active,
.navLink:focus {
    color: var(--color-primary-light);
    text-decoration: none;
}

@media (min-width: 768px) {
    .navbar {
        text-align: right;
    }

    .navbar button,
    .navLink {
        display: inline-block;
    }

    .navLink:not(:last-child):after {
        content: '|';
        color: var(--color-white);
        padding: 0 1rem;
    }
}
