.ghostCard {
    border: 1px dotted #eee;
    min-height: 250px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top left, transparent, rgba(0,0,0,0.125), transparent);
}

.projectCards {
    margin-bottom: 1rem;
    
}

@media (min-width: 768px) {
    .projectCards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        row-gap: 2rem;
    }

    .ghostCard {
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    .projectCards {
        grid-template-columns: repeat(3, 1fr);
    }
}