.card {
    /* border-radius: 8px; */
}

.card a, 
.card button {
    color: var(--color-white);
    border: 1px solid var(--color-white);
    padding: 0.5rem;
    flex-grow: 1;
    text-transform: uppercase;
    text-align: center;
}

.card a:hover,
.card a:active,
.card a:focus,
.card button:hover,
.card button:active,
.card button:focus {
    background-color: var(--color-white);
    color: var(--color-accent);
}

.card a:hover i,
.card a:active i,
.card a:focus i,
.card button:hover i,
.card button:active i,
.card button:focus i {
    color: var(--color-accent);
}

.cardImage {
    position: relative;
    height: 250px;
}

.cardImage img {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(40%);
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
}

.cardImage p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-white);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
}

.cardContent {
    padding: 1rem;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    background-color: var(--color-accent);
    /* border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; */
}