.recipeCard {
    border-top: 1px dotted var(--color-charcoal);
    padding: 1rem;
}

.rateLink {
    font-weight: 500;
}

.recipeCardButtons {
    display: flex;
    flex-direction: column;
}

.recipeCardButtons a,
.recipeCardButtons button {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.rating {
    display: inline-block;
    width: 60px;
    height: 30px;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--color-primary);
    margin-right: 1rem;
    background-color: var(--color-primary-light);
    border-radius: 50%;
    padding: 0.25rem;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .recipeCardButtons {
        display: flex;
        flex-direction: row;
    }

    .recipeCardButtons a,
    .recipeCardButtons button {
        margin-bottom: 0;
        margin-right: 0.5rem;
    }
}

@media (min-width: 992px) {
    .recipeCard {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .rating {
        margin-bottom: 0;
    }
}