/*************** 
Colors 
**************/
:root {
    /* Colors */
    --color-white: #fff;
    --color-primary: #485320;
    --color-primary-light: #d9e2b6;
    --color-accent: #B23818;
    --color-accent-light: #f9dad2;
    --color-accent-dark: #9d3115;
    --color-charcoal: #404042;
    --color-charcoal-light: #bebec1;
    --color-error: #e35835;

    /* Fonts */
    --font-primary: 'Montserrat', sans-serif;
    --font-accent: 'Dancing Script', cursive;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}

body {
    font-family: var(--font-primary);
    color: var(--color-charcoal);
}

h1 {
    font-family: var(--font-accent);
    font-size: 3rem;
}

h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
  }

/*************** 
Buttons
**************/
button,
.btn-primary {
    background-color: var(--color-accent);
    color: #fff;
    text-align: center;
    border: none;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

button:hover,
button:active,
button:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: var(--color-accent-dark);
    color: var(--color-white);
}

/*************** 
Links
**************/
a {
    display: inline-block;
    color: var(--color-accent);
    text-decoration: none;
    transition: all .2s ease-in-out;
}

a:hover,
a:active,
a:focus {
    color: var(--color-accent-dark);
}

/*************** 
Messages
**************/
.messageError {
    border: 1px solid var(--color-error);
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: var(--color-accent-light);
    text-align: center;
}

/*************** 
Forms
**************/
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

form input {
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    border-width: 1px;
    border-color: var(--color-charcoal);
}

form button {
    margin-top: 0.5rem;
}
